<!DOCTYPE HTML>
<html>
<head>
<title>Pullet | {% if not path %} Dashboard {% else %} {{ path.title() }} {% endif %} </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{{ url_for('static', filename='css/newdash/style.css') }}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
<!-- lined-icons -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/newdash/icon-font.min.css') }}" type='text/css' />
<!-- //lined-icons -->
<!-- chart -->
<script src="{{ url_for('static', filename='js/newdash/Chart.js') }}"></script>
<!-- //chart -->
<!--animate-->
<link href="{{ url_for('static', filename='css/newdash/animate.css') }}" rel="stylesheet" type="text/css" media="all">
<script src="{{ url_for('static', filename='js/newdash/wow.min.js') }}"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
 <!-- Meters graphs -->
<script src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
<!-- Placed js at the end of the document so the pages load faster -->
{% if path == 'view' %}
{% include 'dash/path/viewheader.html' %}
{% endif %}
</head>
    <body class="sticky-header left-side-collapsed">
        <section>
            <!-- left side start-->
            {% include 'dash/left-side.html' %}
		    <!-- left side end-->

            <!-- main content start-->
            {% if path == 'view' %}
                <div class="view-main-content main-content4">
            {% else %}
                <div class="main-content">
            {% endif %}
                <!-- header-starts -->
                {% include 'dash/header.html' %}
                <!-- //header-ends -->
                {% if not path %}
                    {% include 'dash/table.html' %}
                {% elif path == 'new' %}
                    {% include 'dash/path/new.html' %}
                {% elif path == 'preview' %}
                    {% include 'dash/path/preview.html' %}
                {% elif path == 'view' %}
                    {% include 'dash/path/view.html' %}
                {% endif %}
            </div>
            <!-- main content end-->

            <!--footer section start-->
            {% include 'dash/footer.html' %}
            <!--footer section end-->
        </section>
        {% if path == 'view' %}
            {% include 'dash/path/viewfooter.html' %}
        {% elif not path %}
            <script src="{{ url_for('static', filename='js/api_v2.js')}}"></script>
        {% endif %}
        <script src="{{ url_for('static', filename='js/newdash/scripts.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    </body>
</html>