<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="G0DZ">
      <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

      <title>Pullet | Main</title>

      <!-- Bootstrap core CSS -->
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <!-- Font-Awesome -->
      <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


  </head>

  <body>
  <header id="fh5co-header" role="banner">

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <a class="navbar-brand" href="/">Pullet</a>
          </div>
          <div id="fh5co-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/how-to-pullet">How to use</a></li>
            </ul>
            {% if not user %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login" class="btn btn-calltoaction">
                        <i class="fa fa-github fa-lg"></i>  Sign in with GitHub
                    </a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard" class="btn btn-calltoaction btn-primary">See your repositories</a></li>
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>
  </header>

    <div id="mainC">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
            <h1>Wanna build pull requests timeline<br/>of repository?</h1>
            <div class="mtb">
              <form id="mainForm" role="form" action="/dashboard" method="post" enctype="plain">
                    <input name="url" type='url' class="subscribe-input" placeholder="Enter github repository url..." required>
                <button class='btn btn-conf btn-green' type="submit">Search</button>
              </form>
            </div><!--/mt-->
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div>

    <div class="container ptb">
      <div class="row">
        <div class="col-md-6">
          <h2>All the features you want in this kind of apps you'll got it here.</h2>
          <p class="mt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p class="store">
            <p><a href="#top" class="btn btn-conf-2 btn-green toptop">Learn More</a></p>
          </p>
        </div>
        <div class="col-md-6">
          <img src="{{ url_for('static', filename='img/sc1.jpg') }}" class="img-responsive mt" alt="">
        </div>
      </div><!--/row-->
    </div><!--/container-->

    <div id="sep">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <h1>Join your experiences with the people you care more. Let us help you.</h1>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h4>
            <p><a class="btn btn-conf-2 btn-green totop" href="#top">Learn More</a></p>
          </div><!--/col-md-8-->
        </div>
      </div>
    </div><!--/sep-->

    <div id="g">
      <div class="container">
        <div class="row sponsor centered">
          <div class="col-sm-4 ">
            <img src="{{ url_for('static', filename='img/moline.jpg') }}" alt="">
          </div>
          <div class="col-sm-4">
            <img src="{{ url_for('static', filename='img/eltechname.png') }}" alt="">
          </div>
          <div class="col-sm-4">
            <img src="{{ url_for('static', filename='img/GitHub-Logo.png') }}" alt="">
          </div>
        </div><!--/row-->
      </div>
    </div><!--/g-->

    <div id="green">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 centered">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <h3>Pull requests (proven by [Dabbish 2012]) have significant social burden in rallying and sync of commands in open-source projects.</h3>
                  <h5><tgr>KIRILL KRINKIN</tgr></h5>
                </div>
                <div class="item">
                  <h3>From student presentation: "Further development plan of application: 1.To shape application up."</h3>
                  <h5><tgr>MARK ZASLAVSKIY</tgr></h5>
                </div>
                <div class="item">
                  <h3>I need some sleep.</h3>
                  <h5><tgr>ROMAN LURYE</tgr></h5>
                </div>
              </div>
            </div><!--/Carousel-->

          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/green-->

    <div id="f">
      <div class="container">
        <div class="row centered">
          <h2>You Can Contact Us</h2>
          <h5>RM.LURYE@GMAIL.COM</h5>
          <p class="mt">
            <a href="http://moevm.info/"><i class="fa fa-university"></i></a>
            <a href="https://vk.com/moevm_leti"><i class="fa fa-vk"></i></a>
            <a href="https://twitter.com/moevm_leti"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/moevm"><i class="fa fa-github"></i></a>
          </p>
          <h6 class="mt">Copyright © MOEVM-LETI 2017. All rights reserved.</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
