<div id="page-wrapper">
<footer>
    <div class="container-fluid">
        <div class="row sponsor centered">
          <div class="col-sm-4">
              <a href="http://moevm.info/">
                  <img src="{{ url_for('static', filename='img/moline.jpg') }}" style="width: 30%;" alt=""/>
              </a>
          </div>
          <div class="col-sm-4">
              <a href="http://www.eltech.ru/ru/universitet/">
                  <img src="http://www.eltech.ru/assets/templates/public/img/spbetu-logo-ru.svg?t=2017-10-11-12-21-06"
                       style="width: 30%;" alt=""/>
              </a>
          </div>
          <div class="col-sm-4">
            <a href="https://github.com/moevm/rePullet" >
                <img src="{{ url_for('static', filename='img/GitHub-Logo.png') }}" style="width: 30%;" alt=""/>
            </a>
          </div>
        </div><!--/row-->
    </div>
   <!--p>Copyright © R.Lurye 2017. All rights reserved.</p-->
</footer>
</div>