<div id="page-wrapper">
    <div class="graphs">
        <div class="widget_middle">
            <div class="col-md-9 widget_middle_left">
                    <div class="activity_box">
					<h3>Inbox</h3>
{#						<div class="activity-row">#}
{#							<div class="col-xs-3 activity-img"><img src='images/1.png' class="img-responsive" alt=""/></div>#}
{#							<div class="col-xs-7 activity-desc">#}
{#								<h5><a href="#">John Smith</a></h5>#}
{#								<p>Hey ! There I'm available.</p>#}
{#							</div>#}
{#							<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>#}
{#							<div class="clearfix"> </div>#}
{#					    </div>#}
                        <div class="activity-row">
                            <div class="col-xs-12 activity-desc">
{#								<p>#}
{#                                    A basic timeline. You can move and zoom the timeline, and select items.#}
{#                                </p>#}
                                <div id="visualization"></div>
							</div>

                        </div>
                </div>
            </div>
            <div class="col-md-3 widget_middle_left">
                    <div class="stats-info stats-info1">
                        <div class="panel-heading">
                            <h4 class="panel-title">Browser Stats</h4>
                        </div>
                        <div class="panel-body panel-body2">
                            <ul class="list-unstyled">
                                <li>Google Chrome<div class="text-success pull-right">12%<i class="fa fa-level-up"></i></div></li>
                                <li>Firefox<div class="text-success pull-right">15%<i class="fa fa-level-up"></i></div></li>
                                <li>Internet Explorer<div class="text-success pull-right">18%<i class="fa fa-level-up"></i></div></li>
                                <li>Safari<div class="text-danger pull-right">17%<i class="fa fa-level-down"></i></div></li>
                                <li>Opera<div class="text-danger pull-right">10%<i class="fa fa-level-down"></i></div></li>
                                <li>Mobile &amp; tablet<div class="text-success pull-right">14%<i class="fa fa-level-up"></i></div></li>
                                <li class="last">Others<div class="text-success pull-right">5%<i class="fa fa-level-up"></i></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>