<div id="page-wrapper">
    <embed id='repoid' src="{{ r }}" hidden="true"></embed>
    <div id="loading-wrapper" class="graphs">
        <div class="error-main">
            <img src="{{ url_for('static', filename='img/loading-bars.svg') }}" width="64" height="64" />
            <h1 id="loading-text" class="h1 mt2 mb0">Fetching repository information...</h1>
            <p class="small mb2">This could take a while</p>
        </div>
    </div>
    <div id="timeline-wrapper" class="graphs" style="display: none">
            <h3 class="blank1">Repository Info</h3>
            <div class="col-lg-8">
                <div class="Compose-Message">
                    <div class="panel panel-default" style="margin:1em 0 0 0;">
                        <div class="panel-heading" style="cursor: inherit">
                            PR timeline
                        </div>
                        <div class="panel-body no-padding">
                            <div id="visualization"></div>
                        </div>
                   </div>
                </div>
            </div>
        <div class="col-lg-4">
            <div class="Compose-Message">
            <div class="panel panel-default" style="margin:1em 0 0 0;">
                <div class="panel-heading" style="cursor: inherit">
                    <i class="fa fa-tasks fa-fw"></i> Pull Request Info
                </div>
                <div class="panel-body no-padding" style="min-height: 500px">
                    <table id="prinfo" class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>Lab2 branch</td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>0apm</td>
                        </tr>
                        <tr>
                            <td>Created at</td>
                            <td>2016-12-14 15:36</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>closed</td>
                        </tr>
                        <tr>
                            <td>Closed at</td>
                            <td>2016-12-17 13:44</td>
                        </tr>
                        <tr>
                            <td>Rework</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Report</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div id="table-wrapper" class="graphs"> {#style="display: none">#}
    {% if access %}
        <div class="col-lg-8">
    {% else %}
        <div class="col-lg-10 col-lg-offset-1">
    {% endif %}
            <div class="Compose-Message">
                    <div class="panel panel-default" style="margin:1em 0 0 0;">
                        <div class="panel-heading" style="cursor: inherit">
                            <i class="fa fa-tasks fa-fw"></i> Pull Requests Rating
                        </div>
                        <div class="panel-body no-padding"></div>
                    </div>
            </div>
        </div>
        {% if access %}
        <div class="col-lg-4">
            <div class="Compose-Message">
                <div class="panel panel-default" style="margin:1em 0 0 0;">
                    <div class="panel-heading" style="cursor: inherit">
                        <i class="fa fa-tasks fa-fw"></i> Deadline Periods
                    </div>
                    <div class="panel-body no-padding">
                        <div class="row top10">
                            <div class="col-xs-12">
                                <div class="text-right">
                                    <button class="btn-default btn" onclick="addNewDatarange(' ',' ')">Add New Datarange</button>
                                </div>
                            </div>
                        </div>
                        <div class="row top10">
                            <ul id="dateUl" class="nav nav-third-level">
                                <li id="unusedli"></li>
                                <li id="date0li">
                                    <div class="div-gr">
                                        <div class="input-group input-daterange">
                                            <input type="text" data-date-format='dd-mm-yyyy' class="form-control" value="">
                                            <span class="input-group-addon">to</span>
                                            <input type="text" data-date-format='dd-mm-yyyy' class="form-control" value="">
                                            <span class="input-group-btn">
                                                <button id="date0" class="btn btn-blockz" onclick="removeDaterange(this);">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row top10">
                            <div class="col-xs-12">
                                <div class="text-center">
                                    <button type="button" class="btn btni btn-labeled btn-info" onclick="readDataranges()">
                                        <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span>Save & Update Page
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
